# Allow build scripts for these packages
enable-pre-post-scripts=true

# Azure Artifacts authentication
# IMPORTANT: Copy this file to .npmrc and replace [BASE64_ENCODED_PERSONAL_ACCESS_TOKEN] with your encoded token
# To generate your token:
# 1. Go to https://dev.azure.com/mcigroupfrance/_usersSettings/tokens
# 2. Create a new token with "Packaging: Read & write" permissions
# 3. Encode it in base64: echo -n "YOUR_TOKEN" | base64
# 4. Replace [BASE64_ENCODED_PERSONAL_ACCESS_TOKEN] below (appears twice)

@mcigroupfrance:registry=https://pkgs.dev.azure.com/mcigroupfrance/TestAzure/_packaging/testazure-packages/npm/registry/
always-auth=true

; begin auth token
//pkgs.dev.azure.com/mcigroupfrance/TestAzure/_packaging/testazure-packages/npm/registry/:username=mcigroupfrance
//pkgs.dev.azure.com/mcigroupfrance/TestAzure/_packaging/testazure-packages/npm/registry/:_password=[BASE64_ENCODED_PERSONAL_ACCESS_TOKEN]
//pkgs.dev.azure.com/mcigroupfrance/TestAzure/_packaging/testazure-packages/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/mcigroupfrance/TestAzure/_packaging/testazure-packages/npm/:username=mcigroupfrance
//pkgs.dev.azure.com/mcigroupfrance/TestAzure/_packaging/testazure-packages/npm/:_password=[BASE64_ENCODED_PERSONAL_ACCESS_TOKEN]
//pkgs.dev.azure.com/mcigroupfrance/TestAzure/_packaging/testazure-packages/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
